
section {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 8px;;
}

input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: radio;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
}

